body{
    font-family: 'Poppins', sans-serif;
}
.parentContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 231, 231);
}
.container{
    background-color: rgb(113, 217, 255);
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns:repeat(3,auto) ;
    grid-template-rows: 100px repeat(3,auto);
    /* grid-template-columns: 1fr repeat(3,auto);
    grid-template-rows: 1fr repeat(3,auto); */
    padding: 20px;
    width: 50%;
    height: 50%;

}div.item{
    /* border: 2px solid black;
    text-align: center;
    padding: 10px; */
    /* background-color: yellowgreen; */
}
button{
    background-color: rgb(231, 244, 146);
    padding: 10px;
    border-radius: 8px;
}